<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<label><input type="checkbox" name="checkbox" <%= "checked" if @task.completed %> >Completed</label>
<div>
  <%= link_to "Back to list", tasks_path %>
</div>
